ActivateTrace: true
TraceLevel: 3
Domain {
	Id: 0
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
	Transport {
		TransportName: "MCast_0"
		DllImport: "Default"
		TransportClass: "Multicast"
		ReceiveOwnMsgs: true
		MCastParams {
			LocalAddress: "Any"
			MCastAddress: "239.255.0.11"
			Port: 40069
			TTL: 1
		}
	}
}


