ActivateTrace: true
TraceLevel: 3
Domain {
	Id: 0
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
	Transport {
		TransportName: "MCast_0"
		DllImport: "Default"
		TransportClass: "Multicast"
		ReceiveOwnMsgs: true
		MCastParams {
			LocalAddress: "Any"
			MCastAddress: "239.255.0.11"
			Port: 40069
			TTL: 1
		}
	}
    Transport {
		TransportName: "XMPP_1"
		DllImport: "protocolBus.Transports.CentralServer"
		TransportClass: "XMPP" 			# FullClassName is protocolBus.Transports.CentralServer.XMPP
		ReceiveOwnMsgs: false  			# optional, default=false, mainly for debug purposses.
		[XMPPParams] 					# It's an extenssion of Transport
		{
			Server: "gmail.com"
			ConnectServer: "talk.google.com"
			SendingUser: "pepa1"		# For ALL peers, just 2 shared GTalk users are needed (pepa1 & pepa2)
			SendingPssw: "pepa1passwd"	# One for sending
			TopicUser: "pepa2"			# the other used as receiver.
			TopicPssw: "pepa2passwd"
			Proxy						# Optional
			{
				Server { Host: "192.168.2.33" Port: 8080 }
				User: "pepaproxy"
				Password: "chippychope"
			}
		}
    }
	CrossConnector						
	{									# are checked before the CrossConection is made.
		Transport: "XMPP_1"				# They are all connected as a network hub.
		Transport: "MCast_0"
	}

}


