ActivateTrace: true
TraceLevel: 1
Domain {
	Id: 1
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
	Transport {
		TransportName: "MCast_0"
		DllImport: "Default"
		TransportClass: "Multicast"
		ReceiveOwnMsgs: true
		MCastParams {
			LocalAddress: "Any"
			MCastAddress: "239.255.0.11"
			Port: 40070
			TTL: 1
		}
	}
}
Domain {
	Id: 0
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
    Transport {
		TransportName: "UDPStar_0"
		DllImport: "Default"
		TransportClass: "UDPStar"
		ReceiveOwnMsgs: true  			# optional, default=false, mainly for debug purposses.
		UDPStarParams
		{
			LocalAddress: "localhost"
			Port: 40069
			EndPoint { Host: "192.168.2.101" Port: 40069 }
			EndPoint { Host: "192.168.2.33"  Port: 40069 }
			EndPoint { Host: "192.168.2.44"  Port: 40069 }
			EndPoint { Host: "192.168.2.95"  Port: 40069 }
			EndPoint { Host: "192.168.2.100" Port: 40070 }
			EndPoint { Host: "192.168.2.95"  Port: 40070 }
		}
    }
}

