ActivateTrace: true
TraceLevel: 2
Domain {
	Id: 0
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
	Transport {
		TransportName: "MCast_0"
		DllImport: "Default"
		TransportClass: "Multicast"
		ReceiveOwnMsgs: true
		MCastParams {
			LocalAddress: "Any"
			MCastAddress: "239.255.0.11"
			Port: 40070
			TTL: 1
		}
	}
    Transport {
		TransportName: "Broadcast_0"
		DllImport: "Default"
		TransportClass: "Broadcast"
		ReceiveOwnMsgs: true
		BCastParams {
			LocalAddress: "Any"
			BCastAddress: "192.168.2.255"
			Port: 40099
		}
    }
  	CrossConnector {
		Transport: "MCast_0"
		Transport: "Broadcast_0"
	}
}

Domain {
	Id: 1
    ActivateDefaultTransport: true
    Transport {
		TransportName: "Broadcast_0"
		DllImport: "Default"
		TransportClass: "Broadcast"
		ReceiveOwnMsgs: true
		BCastParams {
			LocalAddress: "Any"
			BCastAddress: "192.168.2.255"
			Port: 40099
		}
    }
}
