ActivateTrace: true
TraceLevel: 2
Domain {
	Id: 0
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
    Transport {
		TransportName: "UDPStar_0"
		DllImport: "Default"
		TransportClass: "UDPStar"
		ReceiveOwnMsgs: true  			# optional, default=false, mainly for debug purposses.
		UDPStarParams
		{
			LocalAddress: "Any"
			Port: 40070
			EndPoint { Host: "192.168.2.101" Port: 40069 }
			EndPoint { Host: "192.168.2.33"  Port: 40069 }
			EndPoint { Host: "192.168.2.44"  Port: 40069 }
			EndPoint { Host: "192.168.2.122" Port: 40069 }
			EndPoint { Host: "192.168.2.100" Port: 40070 }
			EndPoint { Host: "192.168.2.95"  Port: 40070 }
		}
    }
}


