ActivateTrace: true
TraceLevel: 1
Domain {
	Id: 0
    ActivateDefaultTransport: false
	DirectDispacthToSubs: false		
    Transport {
		TransportName: "eeeZZooZZoooUDPStar_0"
		DllImport: "Default"
		TransportClass: "UDPStar"
		ReceiveOwnMsgs: true  			# optional, default=false, mainly for debug purposses.
		UDPStarParams
		{
			LocalAddress: "Any"
			Port: 40070
			EndPoint { Host: "192.168.2.101" Port: 40069 }
			EndPoint { Host: "192.168.2.33"  Port: 40069 }
			EndPoint { Host: "192.168.2.44"  Port: 40069 }
			EndPoint { Host: "192.168.2.122" Port: 40069 }
			EndPoint { Host: "192.168.2.100" Port: 40070 }
			EndPoint { Host: "192.168.2.95"  Port: 40069 }
		}
    }
}

Domain {
	Id: 1
    ActivateDefaultTransport: false
#	KeyFile: "chuco@PAZUZU_20120515162621.pbusk"	
    Transport {
		TransportName: "zzzzzBroadcast_0"
		DllImport: "Default"
		TransportClass: "Broadcast"
		ReceiveOwnMsgs: true
		BCastParams {
			LocalAddress: "Any"
			BCastAddress: "192.168.2.255"
			Port: 40099
		}
    }
	Transport {
		TransportName: "xxxxxxMCast_0"
		DllImport: "Default"
		TransportClass: "Multicast"
		ReceiveOwnMsgs: true
		MCastParams {
			LocalAddress: "Any"
			MCastAddress: "239.255.0.11"
			Port: 40070
			TTL: 1
		}
	}
  	CrossConnector {
		Transport: "MCast_0"
		Transport: "Broadcast_0"
	}
}
